<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Menu z lewej strony -->
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <a class="navbar-brand" href="#">
                        <img src="static/img/logo.png" alt="">
                    </a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#home">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#forex">
                                <i class="fa fa-exchange"></i> Forex
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#news">
                                <i class="fa fa-newspaper-o"></i> News
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#commodities">
                                <i class="fa fa-line-chart"></i> Commodities
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                <section id="home">
                    HOME
                </section>

                <section id="forex">
                    <h1>Forex</h1>
                    <hr>
                    {% for forex_entry in forex %}
                    <p>From Currency Code: {{ forex_entry.0.from_currency_code }}</p>
                    <p>From Currency Name: {{ forex_entry.0.from_currency_name }}</p>
                    <p>To Currency Code: {{ forex_entry.0.to_currency_code }}</p>
                    <p>To Currency Name: {{ forex_entry.0.to_currency_name }}</p>
                    <p>Exchange Rate: {{ forex_entry.0.exchange_rate }}</p>
                    {% endfor %}
                </section>

                <section id="news">
                    <h1>News</h1>
                    <hr>
                    <div id="news-wall">
                        {% for entry in news.0.feed %}
                        <div class="single-news {% if forloop.first %}active{% endif %}">
                            <p><i class="fa fa-calendar"></i> {{ entry.time_published }}</p>
                            <a href="{{ entry.url }}" target="_blank">
                                <p>{{ entry.title }}</p>
                            </a>
                            <p>{{ entry.summary }}</p>
                            <p><b>Source:</b> {{ entry.source }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section id="commodities">
                    <h1>Commodities</h1>
                    <hr>
                    <p>Name: {{ commodities.0.name }}</p>
                    <p>Interval: {{ commodities.0.interval }}</p>
                    <p>Unit: {{ commodities.0.unit }}</p>

                    <canvas id="commoditiesChart" width="400" height="200"></canvas>
                </section>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var chartData = {{ commodities.0.datapoints| safe }};
                        console.log(chartData);

                        var chartLabels = [];
                        var chartValues = [];

                        for (let i = chartData.length - 1; i >= 0; i--) {
                            chartLabels.push(chartData[i].date);
                            chartValues.push(parseFloat(chartData[i].value));
                        }

                        chartLabels = chartLabels.slice(125, chartData.length);
                        chartValues = chartValues.slice(125, chartData.length);

                        console.log(chartLabels);
                        console.log(chartValues);

                        var ctx = document.getElementById('commoditiesChart').getContext('2d');

                        var data = {
                            labels: chartLabels,
                            datasets: [{
                                label: '{{ commodities.0.name }}',
                                backgroundColor: 'rgb(242, 56, 90, 0.2)',
                                borderColor: 'rgb(242, 56, 90, 1)',
                                borderWidth: 2,
                                data: chartValues
                            }]
                        };

                        var options = {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        };

                        var commoditiesChart = new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: options
                        });
                    });
                </script>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>
